<% if user_signed_in? %>
  <li>
  <%= link_to('Manage Account', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <% if !Rails.application.config.restricted_registration %>
    <%= link_to('Sign up', new_user_registration_path)  %>
  <% end %>
  </li>
<% end %>
