$('#seat-picker-layout').html('#{j render template: 'seats/index' }')
$('#sidebar-actions').html('#{j render template: 'shared/_sidebar_actions' }')
init_seat_picker();
$.flashAlert('You have requested seat #{j @seat_request.seat_name}.', 'alert-success')