%h1 Cancel account

%p
  Unhappy? We're sorry to see you go, but respect your right to
  control your own data.
%p
  %strong Warning this deletion is permanent your data can not be recovered.

= simple_form_for(@cancel_account_form, as: :cancel, url: current_user, method: :delete) do |f|
  = f.input :password, as: :password
  = f.submit 'Cancel my account', class: 'btn btn-primary pull-right', data: { :confirm => "Are you sure you wish to delete your account?" }
