.flash-messages
  - flash.each do |name, msg|
    .alert.fade.in{ class: "alert-#{ name == 'notice' ? 'success' : 'danger' }" }
      = msg
      %a{ href: '#', title: 'Hide this message', class: 'dismiss-flash', data: { dismiss: :alert } }
        Dismiss