%div{style: 'font-family: Verdana, sans-serif'}
  %p
    Hi #{@seat_request_user.username}
  
  %p
    Good news, #{@seat_user.username} accepted your seat request. You have been 
    automatically placed in the requested seat.