= simple_form_for [:admin, @user] do |f|
  = f.input :email, placeholder: 'Enter email'
  = f.input :username, placeholder: 'Enter username'

  .pull-right
    = f.button :submit, class: 'btn btn-primary'
