<div class='seatpicker-table-row'>
  <% seats.each_slice(2) do |table_seats| %>
    <div class='seatpicker-table-seat-group'>

      <% if align == :top  or align == :left %>
        <%= render partial: "seats", locals: {align: align, seats: table_seats} %>
      <% end %>

      <%= render partial: "table", locals: {align: align} %>

      <% if align == :bottom %>
        <%= render partial: "seats", locals: {align: align, seats: table_seats} %>
      <% end %>

    </div>
  <% end %>
</div>
