%div{:class => "seatpicker-table-row #{'pull-' + pull.to_s if defined? pull}"}
  - seats.each_slice(2) do |table_seats|
    .seatpicker-table-seat-group
      - if align == :top  or align == :left
        = render partial: "seats", locals: {align: align, seats: table_seats}
      = render partial: "table", locals: {align: align}
      - if align == :bottom or align == :right
        = render partial: "seats", locals: {align: align, seats: table_seats}
