%hr.divider/
#seatpicker-room.seatpicker-room
  .seatpicker-picker
    = render partial: "table_row", locals: {row: 'A', align: :top, seats: seat_row(@seats, 'A')}
    = render partial: "table_row", locals: {row: 'B', align: :bottom, seats: seat_row(@seats, 'B')}
    = render partial: "table_row", locals: {row: 'C', align: :top, seats: seat_row(@seats, 'C')}
    = render partial: "table_row", locals: {row: 'D', align: :bottom, seats: seat_row(@seats, 'D')}
